* {
  box-sizing: border-box;
}

:root {
  --primary: #ef44ff;
  --secondary: #552396;
  --tertiary: rgb(255, 255, 255);
  --grey: #333;
  --white: #ffff;
  font-size: 68%;
}

header {
  background: var(--secondary);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primary);
  display: flex;
  justify-content: space-between;
}

body {
  background: #dbd9d9;
  color: var(--tertiary);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.high-score-link {
  text-decoration: none;
  font-size: 1.5vw;
  color: var(--tertiary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main.question-title {
  flex: 2, 50%;
}





@media screen and (max-width: 980px) {
  main {
    flex-direction: column;
  }
}
